.row
  .span3

    %a(href="#" class="thumbnail" style="float:left;margin-right:8px;")
      %img{"src"=>"http://flickholdr.com/50/50/face/#{@user.id}", "alt"=>"#{@user.full_name}"}

    %div
      -if me?  
        %b= link_to @user.full_name, user_path(@user)
        %p View my profile
      - else
        %b= @user.full_name

    -unless me?
      -if(@subscription.new_record?)
        = form_for @subscription do |f| 
          = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
          = f.text_field :subscribee_id, :type => 'hidden', :value => @user.id
          = f.submit :value => "Subscribe", :class => "btn btn-primary"
      - else
        = form_for @subscription, :method => :delete do |f| 
          = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
          = f.text_field :subscribee_id, :type => 'hidden', :value => @user.id
          = f.submit :value => "Unsubscribe", :class => "btn btn-primary"

    %div(style="margin-top: 10px;")
      %table
        %tr(style='text-align:center')
          %th(style='font-size:7pt; padding-left:10px; padding-right:10px;') Messages
          %th(style='font-size:7pt; padding-left:10px; padding-right:10px;') Subscriptions
          %th(style='font-size:7pt; padding-left:10px; padding-right:10px;') Subscribers
        %tr(style='text-align:center')
          %td(style='font-size:16pt')= @user.messages.count
          %td(style='font-size:16pt')= @user.subscriptions.count
          %td(style='font-size:16pt')= @user.subscribers.count

  - if me?
    .span8.well
      = form_for @message, :html => { :style => 'margin-bottom:0px'}  do |f|
        .field
          = f.label "Say Something!"
          = f.text_area :body, :style => 'height:50px; width:610px'
        .actions
          = f.submit "Post Message", :class => 'btn btn-primary'
							
    .span8.offset3(style='margin-top:10px; height:420px; width:650px; overflow:auto; display:block')
      = render :partial => 'messages/pane', :locals => { :messages => @messages }

  - else
    .span8(style='margin-top:10px; height:420px; width:650px; overflow:auto; display:block')
      = render :partial => 'messages/pane', :locals => { :messages => @messages }
