.row
  .span3
    %h3= @user.full_name
  .span8.well
    = form_for @message do |f|
      .field
        = f.label "Say Something!"
        = f.text_area :body, :style => 'height:50px; width:610px'
      .actions
        = f.submit "Post Message", :class => 'btn btn-primary'
