!!!
%html
  %head
    %title Kookoo
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body

    /UNIVERSAL NAVIGATION BAR
    .navbar.navbar-fixed-top
      .navbar-inner
        .container

          = link_to "KooKoo", root_path, class: 'brand'

          %ul.nav
            - if user_logged_in?
              %li= link_to "Log Out", log_out_path    
            - else
              %li= link_to "Log In", log_in_path 
              %li= link_to "Sign Up", new_user_path

      .container(style='margin-top:20px')
        .content
          .row
            .span12

              / UNIVERSAL STATUS MESSAGES
              - flash.each do |name, msg|
                %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                  %a.close(data-dismiss="alert") ×
                  %div{:id => "flash_#{name}"}= msg

          /ALL LOADED CONTENT WILL LOAD HERE
          = yield

      %footer
